h1 {
    text-align: center;
}

.ten {
    background-color: #FF3399;
    text-align: center;
}

.content {
    text-align: center;
    background-color: #FFFFCC;
}

.p1 {
    color: #0000FF;
}

.p3 {
    color: #006600;
}